  <div class="footer">
    <div class="inner-footer">
  
      <div class="footer-items">
        <h1 class="font-[700]">Mac Steel</h1>
        <p>Description of any product or motto of the company.</p>
      </div>
  
      <div class="footer-items">
        <h1 class="font-[700]">Quick Links</h1>
        <div class="border1"></div> 
          <ul>
            <a href="/"><li>Home</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/products"><li>Products</li></a>
            <a href="/contact"><li>Contact</li></a>
          </ul>
      </div>
  
      <div class="footer-items">
        <h1 class="font-[700]">Products</h1>
        <div class="border1"></div>  
          <ul>
            <a href="#"><li>Steel</li></a>
            <a href="#"><li>Brass</li></a>
            <a href="#"><li>Copper/Dawa</li></a>
            <a href="#"><li>Cast Iron</li></a>
          </ul>
      </div>
  
      <div class="footer-items">
        <h1 class="font-[700]">Contact us</h1>
        <div class="border1"></div>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Nairobi, Kenya</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+254740030111</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>macsteel@gmail.com</li>
          </ul> 
        
          <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div> 
      </div>
    </div>
    
    <div class="footer-bottom">
      Copyright &copy; <a href="https://www.linkedin.com/in/job-nyambura/">Code Monkey</a> 2024.
    </div>
  </div>