<div class="xl:flex md:block sm:block xl:px-[55px] md:px-[55px] px-[20px] xl:py-[100px] md:py-[60px] py-[60px]">
    <div class="xl:w-[20%] md:w-[100%] sm:w-[100%] text-[#8c7dff] font-[700] text-[14px] leading-[14px]">MISSION & VISION</div>
    <div class="xl:w-[80%] md:w-[100%] sm:w-[100%] flex-col">
        <div class="pb-[3%] xl:text-[80px] md:text-[40px] text-[35px] xl:leading-[110px] md:leading-[110px] leading-[40px] xl:my-0 md:my-0 my-[40px] font-[900] text-[#eeeee7]">Our Core Values</div>
        <div class="xl:w-[80%] md:w-[80%] w-[100%] text-[18px] text-[#949d9a]">
            Mac Steel's core values are Truth, Integrity, Dedication to Excellence and Customer Service. Every action we take is based on these Values which form the core Foundation upon which the company is built. They help in evaluating & guiding our operations, our planning & our vision for the future.
        </div>
    </div>
</div>
