<div class="xl:px-[55px] md:px-[55px] px-[20px] xl:pb-[100px] md:pb-[60px] pb-[60px]">
    <div class="pb-[3%] xl:text-[80px] md:text-[40px] text-[35px] xl:leading-[110px] md:leading-[110px] leading-[40px] xl:my-0 md:my-0 my-[40px] font-[900] text-[#eeeee7] md:text-center text-left">Legal & Permits</div>
    <div class="mt-5 grid md:grid-cols-2 grid-cols-1 gap-[40px]"> 
        <div class="blur-sm">
            <a target="_blank" href="./assets/images/nema.pdf" download="pdf">
                <img class="h-[80vh]" src="./assets/images/nema.png" alt="">
            </a>
        </div>
        <div class="blur-sm">
            <a target="_blank" href="./assets/images/kismamembership.pdf" download="pdf">
                <img class="h-[80vh]" src="./assets/images/kisma.png" alt="">
            </a>
        </div>
        <div class="blur-sm">
            <a target="_blank" href="./assets/images/scrapmetalcouncil.pdf" download="pdf">
                <img class="h-[80vh]" src="./assets/images/smc.png" alt="">
            </a>
        </div>
        <div class="blur-sm">
            <a target="_blank" href="./assets/images/compliance.pdf" download="pdf">
                <img class="h-[80vh]" src="./assets/images/compliance.png" alt="">
            </a>
        </div> 
        <div class="blur-sm">
            <a target="_blank" href="./assets/images/incorpcert.pdf" download="pdf">
                <img class="h-[80vh]" src="./assets/images/incorp.png" alt="">
            </a>
        </div>  
        <div class="blur-sm">
            <a target="_blank" href="./assets/images/krapin.pdf" download="pdf">
                <img class="h-[80vh]" src="./assets/images/krapin.png" alt="">
            </a>
        </div> 
        <div class="blur-sm">
            <a target="_blank" href="./assets/images/citycountypermit.pdf" download="pdf">
                <img class="h-[80vh]" src="./assets/images/permit.png" alt="">
            </a>
        </div>
    </div>
</div>