<div class="relative flex items-center justify-left h-screen overflow-hidden">
    <div class="relative z-30 w-1/2 ml-8">
        <div class="text-left text-[100px] leading-[110px] font-[900] text-[#eeeee7] ">Integrity is our competitive advantage</div>
        <div class="text-left mx-4 my-4 text-[24px] text-[#eeeee7] font-[600] leading-[22.001px]">Quick, Easy and Efficient</div>
        <div class="flex mx-4 py-4 gap-[25px]">
            <a href="" class="flex justify-center items-center rounded-[25px] font-[700] bg-[#00f78c] text-black py-2 px-4 leading-[14px] text-[14px]">CONTACT US</a>
            <a href="" class="flex justify-center items-center rounded-[25px] font-[700] text-white border-2 border-solid border-[white] py-2 px-4 leading-[14px] text-[14px]">VIEW PRICING</a>
        </div>
    </div>
    <video 
    autoplay
    loop
    muted
    class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
        <source src="./assets/videos/hero-video.mp4" type="video/mp4"/>
    </video>
</div>