
   <nav class="flex bg-[#0e2326] items-center justify-between py-4 px-8">
    <a href="/" class="text-2xl font-[900] no-underline text-white">
      <img class="h-[10vh]" src="../../assets/images/Mac Steel White Logo.png" alt="">
    </a>
  
    <ul class="hidden md:flex space-x-8 font-medium">
      <li class="text-white hover:text-[#8c7dff] focus:text-[#8c7dff] text-[20px]"><a class="active:text-[#8c7dff]" href="/">Home</a></li>
      <li class="text-white hover:text-[#8c7dff] focus:text-[#8c7dff] text-[20px]"><a class="active:text-[#8c7dff]" href="/about">About</a></li>
      <li class="text-white hover:text-[#8c7dff] focus:text-[#8c7dff] text-[20px]"><a class="active:text-[#8c7dff]" href="/products">Products</a></li>
      <li class="text-white hover:text-[#8c7dff] focus:text-[#8c7dff] text-[20px]"><a class="active:text-[#8c7dff]" href="/contact">Contact</a></li>
    </ul>
  
    <button (click)="toggleMobileMenu()" class="md:hidden text-[20px] text-white focus:outline-none">
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  
    <div
      *ngIf="showMobileMenu"
      class="fixed bg-[#014b3f] top-0 left-0 w-full z-40 h-screen px-8 py-4 overflow-y-auto md:hidden"
    >
      <button (click)="toggleMobileMenu()" class="absolute top-4 right-4 text-[40px] text-white">
        &times;
      </button>
      <ul class="mt-8 space-y-4 text-lg font-medium">
        <li class="text-white hover:text-[#8c7dff] focus:text-[#8c7dff] text-[20px]"><a href="/">Home</a></li>
        <li class="text-white hover:text-[#8c7dff] focus:text-[#8c7dff] text-[20px]"><a href="/about">About</a></li>
        <li class="text-white hover:text-[#8c7dff] focus:text-[#8c7dff] text-[20px]"><a href="/products">Products</a></li>
        <li class="text-white hover:text-[#8c7dff] focus:text-[#8c7dff] text-[20px]"><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  
  