<div class="xl:flex md:block sm:block xl:px-[55px] md:px-[55px] px-[20px] py-[10px]">
    <div class="xl:w-[20%] md:w-[100%] sm:w-[100%] text-[#8c7dff] font-[700] text-[14px] leading-[14px]">BENEFITS</div>
    <div class="xl:w-[80%] md:w-[100%] sm:w-[100%] flex-col">
        <div class="pb-[3%] xl:text-[80px] md:text-[40px] text-[45px] xl:leading-[110px] md:leading-[110px] leading-[40px] xl:my-0 md:my-0 my-[40px] font-[900] text-[#eeeee7]">Our Approach</div>
        <div class="xl:flex md:flex block border-t-2 border-solid border-white  pt-[4%] pb-[8%]">
            <div class="w-[10%] xl:my-0 md:my-0 sm:my-4">
                <img src="./assets/images/benefits1.svg" alt="">
            </div>
            <div class="flex-col w-[90]">
                <div class="xl:text-[32px] md:text-[24px] text-[18px] text-[#eeeee7] leading-[36.8px]">We Pay Competitive Prices</div>
                <div class="text-[16px] my-3 text-[#949d9a] leading-[24px]">For a variety of Ferrous and Non-Ferrous Metals.</div>
            </div>
        </div>
        <div class="xl:flex md:flex block border-t-2 border-solid border-white  pt-[4%] pb-[8%]">
            <div class="w-[10%]  xl:my-0 md:my-0 sm:my-4">
                <img src="./assets/images/benefits2.svg" alt="">
            </div>
            <div class="flex-col w-[90%] ">
                <div class="xl:text-[32px] md:text-[24px] text-[18px] text-[#eeeee7] leading-[36.8px]">We're as transparent as it gets</div>
                <div class="text-[16px] my-3 text-[#949d9a] leading-[24px]">We don't have hidden fees so you know what to expect.</div>
            </div>
        </div>
        <div class="xl:flex md:flex block border-t-2 border-solid border-white  pt-[4%] pb-[8%]">
            <div class="w-[10%] xl:my-0 md:my-0 sm:my-4">
                <img src="./assets/images/benefits3.svg" alt="">
            </div>
            <div class="flex-col w-[90%]">
                <div class="xl:text-[32px] md:text-[24px] text-[18px] text-[#eeeee7] leading-[36.8px]">Never stop recycling</div>
                <div class="text-[16px] my-3 text-[#949d9a] leading-[24px]">Become a champion in protecting the environment.</div>
            </div>
        </div>
        <div class="xl:flex md:flex block border-t-2 border-solid border-white  pt-[4%] pb-[8%]">
            <div class="w-[10%] xl:my-0 md:my-0 sm:my-4">
                <img src="./assets/images/benefits4.svg" alt="">
            </div>
            <div class="flex-col w-[90%]">
                <div class="xl:text-[32px] md:text-[24px] text-[18px] text-[#eeeee7] leading-[36.8px]">We're here for you</div>
                <div class="text-[16px] my-3 text-[#949d9a] leading-[24px]">Have a question? Need more information? We're here to talk and to help. Reach out to us and we'll get back to you in no time.</div>
            </div>
        </div>
    </div>
</div>
