<div class="flex px-[55px] py-[180px]">
    <div class="w-[20%] text-[#8c7dff] font-[700] text-[14px] leading-[14px]">BENEFITS</div>
    <div class="w-[80%] flex-col">
        <div class="pb-[3%] text-[100px] text-[#eeeee7] leading-[110px] font-[900] text-[#eeeee7]">Our Approach</div>
        <div class="flex border-t-2 border-solid border-white  pt-[4%] pb-[8%]">
            <div class="w-[10%]">
                <img src="./assets/images/benefits1.svg" alt="">
            </div>
            <div class="flex-col w-[90%]">
                <div class="text-[32px] text-[#eeeee7] leading-[36.8px]">We Pay Competitive Prices</div>
                <div class="text-[16px] my-3 text-[#949d9a] leading-[24px]">For a variety of Ferrous and Non-Ferrous Metals.</div>
            </div>
        </div>
        <div class="flex border-t-2 border-solid border-white pt-[4%] pb-[8%]">
            <div class="w-[10%]">
                <img src="./assets/images/benefits2.svg" alt="">
            </div>
            <div class="flex-col w-[90%]">
                <div class="text-[32px] text-[#eeeee7] leading-[36.8px]">We're as transparent as it gets</div>
                <div class="text-[16px] my-3 text-[#949d9a] leading-[24px]">We don't have hidden fees so you know what to expect.</div>
            </div>
        </div>
        <div class="flex border-t-2 border-solid border-white  pt-[4%] pb-[8%]">
            <div class="w-[10%]">
                <img src="./assets/images/benefits3.svg" alt="">
            </div>
            <div class="flex-col w-[90%]">
                <div class="text-[32px] text-[#eeeee7] leading-[36.8px]">Never stop innovating</div>
                <div class="text-[16px] my-3 text-[#949d9a] leading-[24px]">We launched Moon Mortgage because we've been in your shoes.</div>
            </div>
        </div>
        <div class="flex border-t-2 border-solid border-white  pt-[4%] pb-[8%]">
            <div class="w-[10%]">
                <img src="./assets/images/benefits4.svg" alt="">
            </div>
            <div class="flex-col w-[90%]">
                <div class="text-[32px] text-[#eeeee7] leading-[36.8px]">We're here for you</div>
                <div class="text-[16px] my-3 text-[#949d9a] leading-[24px]">Have a question? Need more information? We're here to talk and to help. Reach out to us and we'll get back to you in no time.</div>
            </div>
        </div>
    </div>
</div>
