<div class="flex justify-center items-center xl:h-[80vh] md:h-[70vh] h-[70vh] bg-[url('./assets/images/patner.png')] bg-cover">
    <div class="flex-col">
        <div class="text-center xl:text-[80px] md:text-[40px] text-[45px] xl:leading-[110px] md:leading-[110px] leading-[40px] font-[900] text-[#eeeee7]">Partner Up!</div>
        <div class="text-center px-[5%] my-4 xl:text-[24px] md:text-[20px] text-[16px] text-[#eeeee7]">If you're broker or a business interested in a partnership with Mac Steel, get in touch with us and we'll get back to you.</div>
        <div class="flex justify-center items-center py-4">
            <a href="/contact" class=" rounded-[25px] font-[700] bg-[#00f78c] text-black py-4 px-8 leading-[14px] text-[14px]">GET IN TOUCH</a>
        </div>
    </div>
</div>