<div class="flex justify-center items-center h-[95vh] bg-[url('/assets/images/patner.png')]">
    <div class="flex-col">
        <div class="text-center text-[100px] text-[#eeeee7] leading-[110px] font-[900] text-[#eeeee7]">Partner Up!</div>
        <div class="text-center px-[5%] my-4 text-[24px] text-[#eeeee7] font-[600] leading-[22.001px]">If you're broker or a business interested in a partnership with Mac Steel, get in touch with us and we'll get back to you.</div>
        <div class="flex justify-center items-center py-4">
            <a href="/contact" class=" rounded-[25px] font-[700] bg-[#00f78c] text-black py-4 px-8 leading-[14px] text-[14px]">GET IN TOUCH</a>
        </div>
    </div>
</div>