/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neue Machina", "Helvetica Neue", sans-serif;
  }
  body,
  html {
    height: 100%;
    font-family: "Neue Machina", "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-color: #014b3f;
  }