<div class="relative flex items-center justify-left xl:h-screen md:h-[70vh] sm:h-auto overflow-hidden">
    <div class="relative z-30 xl:w-1/2 md:w-12/12 ml-8">
        <div class="text-left xl:text-[100px] md:text-[50px] text-[24px] xl:leading-[110px] md:leading-[55px] font-[900] text-[#eeeee7] ">Turn Your Scrap Into Cash</div>
        <div class="text-left mx-4 my-4 xl:text-[24px] md:text-[12px] text-10px text-[#eeeee7] font-[600] leading-[22.001px]">Quick, Easy and Efficient</div>
        <div class="sl:flex  md:flex sm:block mx-4 py-4 gap-[25px]">
            <a href="/contact" class="flex justify-center items-center xl:w-auto md:w-auto w-1/2 rounded-[25px] font-[700] bg-[#00f78c] text-black xl:my-0 md:my-0 my-[5%] py-2 px-4 leading-[14px] xl:text-[14px] md:tex-[14px] text-[10px]">CONTACT US</a>
            <a href="/products" class="flex justify-center items-center xl:w-auto md:w-auto w-2/3 rounded-[25px] font-[700] text-white border-2 border-solid border-[white] xl:my-0 md:my-0 my-[5%] py-2 px-4 leading-[14px] xl:text-[14px] md:tex-[14px] text-[10px]">VIEW PRICING</a>
        </div>
    </div>
    <video 
    autoplay
    loop
    muted
    class="absolute z-10 xl:flex md:flex hidden w-auto xl:max-w-none md:max-w-full sm:max-w-full">
        <source src="./assets/videos/hero-video-home.mp4" type="video/mp4"/>
    </video>
</div>